:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --highlight: #D2E8FD;
    --text-primary: white;
    --text-secundary: rgba(255, 255, 255, 0.74);
    --background-primary: #0F1012;
    --background-secundary: #1A1D21;
    --elevation_1dp:rgba(255, 255, 255, 0.05);
    --shadow_1dp: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    background-color: var(--background-primary);
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
    color: #D2E8FD;
    letter-spacing: 2px;
}

a:link {
    color: rgb(129, 169, 206);
}

.jumbotron {
    height: 164px;
    padding: 20px 0;
    background-color: var(--background-primary);
}

.jumbotron img {
    height: 100%;
}

/* Article / card styling */

.article__container {
    width: 75%;
}

article {
    padding: 10px 0 0 24px;
    margin: 0 0 10px;
    height: 124px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 10px;
    border-top: 1px solid rgba(226, 247, 255, 0.041);
    border-bottom: 1px solid rgba(0, 0, 0, 0.377) ;
}

article:hover {
    height: 134px;
    background-color: var(--elevation_1dp);
    box-shadow: var(--shadow_1dp);
    cursor: pointer;
}

article h2 {
    padding-right: 256px;
    font-weight: bold;
}

.article__imgContainer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 210px;
}

.article__imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* Author card Styling */

.author_article {
    box-sizing: border-box;
    padding: 10px 0 10px 16px;
    min-height: 120px;
    /* height: 100px; Removing this line allows this card to have "unlimited" text */
    margin-bottom: 10px;
    position: relative;
    transition: 0.5s;
    border-radius: 10px;
    border-top: 1px solid rgba(226, 247, 255, 0.041);
    border-bottom: 1px solid rgba(0, 0, 0, 0.377) ;
}

.author_article:hover {
    background-color: var(--elevation_1dp);
    box-shadow: var(--shadow_1dp);
    cursor: pointer;
}

.author_article h3 {
    margin-top: 0;
}

.author_article h4 {
    margin-bottom: 0;
}

.collision {
    padding-right: 110px;
}

.author__name {
    margin-top: 10px;
}

.author_article__imgContainer {
    height: 90px;
    width: 90px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.author_article__imgContainer img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: var(--shadow_1dp);
}

/* Author Profile Styling */

.author_profile {
    border: 2px solid var(--highlight);
    border-radius: 10px;
    position: relative;
    height: 113px;  
    padding: 10px 0 10px 16px;
    margin-bottom: 10px;
    transition: 10ms;
    box-sizing: border-box;
}

.author_profile:hover {
    background-color: var(--elevation_1dp);
    box-shadow: var(--shadow_1dp);
    cursor: pointer;
    transform: perspective(10px);
}

.author_profile__imgContainer {
    height: 90px;
    width: 90px;
    position: absolute;
    top: 10px;
    right: 12px;
}

.author_profile__imgContainer img {
height: 100%;
width: 100%;
border-radius: 100%;
box-shadow: var(--shadow_1dp);
}

/* Footer Styling */

footer [class="row"] {
    flex-wrap: nowrap;
}

footer {
    position: relative;
    display: flex;
    /* height: 170px; */
    background-color: var(--background-secundary);
    margin-top: 30px;
}

.footer__imgContainer {
    height: 75px;
    width: 100%;
    margin: 35px 0;
}

.footer__imgContainer img {
    height: 100%;
    transition: 1s;
}

.footer__imgContainer img:hover {
    transform: scale(1.1);
}

.footer__main {
    margin: 30px 20px 15px 20px;
}

.footer__paragraph {
    color: var(--text-secundary);
    letter-spacing: .3px;
    margin-top: 0;
    font-size: 16px;
}

.footer__credits {
    color: var(--highlight);
    letter-spacing: 1.2px;
    font-size: 14px;
}

.footer__right_container {
    display: flex;
    margin: 30px 20px 15px 20px;
}

.footer__whatsapp {
    position: relative;
    margin-bottom: 24px;
    height: 34px;
    /* width: 50%; */
    margin: 0 auto 24px;
}

.footer__whatsapp__title {
    color: var(--text-secundary);
    font-weight: 800;
    letter-spacing: .3px;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
}

.footer__whatsapp__icon {
    margin-left: 14px;
    position: absolute;
    top: 0;
}

.footer__whatsapp__number {
    font-size: 13px;
    color: var(--highlight);
}

svg {
    fill: var(--highlight) ;
}

.footer__social_icons {
    position: absolute;
    right: 5%;
    top: 90px;
}

.footer__social_icons svg {
    margin: 0 10px;
    cursor: pointer;
}